/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.7;
  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBannerContainer {
  max-width: 100vw !important;
  width: 100vw !important;
}

.dAppText { 
  text-align: center;
  text-shadow: 0px 1px 20px 0px #e4529a;

}

.dAppContainer{
  width:auto
}