/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #19a6c4;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-emphasis-800: #1897b4;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  background-color: black;
  --ifm-navbar-background-color: black;
  --ifm-color-primary: #19a6c4;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.red {
  background-color: yellow;
}

.purple-text {
  color: rebeccapurple;
}

.hero {
  background-color: purple;

}

.navbar{
  box-shadow: 0px 1px 20px 0px #e4529a
}

.navbar__link--active {
  border-top: 2px solid #19a6c4 !important;
}

[data-theme='dark'] .footer { 
  background-color: black;
  border-top: 1px ridge #e4529a !important;
}
.footer { 
  background-color: #f5f6f7;
  --ifm-footer-link-color: #606770;
  --ifm-footer-title-color: #606770;
  color: #606770;
}


html[data-theme='dark']{
  --ifm-code-background: #696969 ;
  
}

.iconDapp img { 
  height: 1em;
  width: auto;
  vertical-align: middle;
  display: inline;
}

.card1 {
  color: red;
  background-color: yellow;
  text-align: right;


}

.tablech {
  --ifm-table-border-width: none;
  --ifm-table-stripe-background: rgba(0, 0, 0, 0)
}

.tablech_tr {
  vertical-align: top;
  --ifm-table-cell-padding: 1rem;
}

.tablech td {
  padding:0 1em 0;

}

.slimmm {
  width: 20px;
  padding: 0 !important;
}


html[data-theme='dark'] #banktile{
  background-image: 
  linear-gradient( rgb(255, 255, 255, 0.4), rgb(0, 0, 0, 0.4)), 
  linear-gradient(90deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%),
  url('../../static/images/logos/bank_icon_light.png') !important;
}

.deprecatedText {
  color: #9f9d9d;
  font-weight:light;
  font-size:15px;
}

.emptyText {
  color: #9f9d9d;
  font-weight: bold;
}

.primaryText {
  font-weight: bold;
}

img[src$='#bitcoinImages']{
  width: 80%;
}
img[src$='#bitcoinImages40']{
  width: 40%;
}
img[src$='#bitcoinImages30']{
  width: 30%;
}
img[src$='#bitcoinImages20']{
  width: 20%;
}
img[src$='#bitcoinImages10']{
  width: 10%;
}

[data-theme='dark'] .textBackground {
  background-color: #9e9e9e;
  color: black;
}
.textBackground {
  background-color: #f2f2f2;
}

.tableAnalytics {
  text-align: center;
}

.videoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper video{
  max-width: 680px;
  width:100%;
  height: auto;
}

.tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideTosideWrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 20px;
}

.sideTosideWrapper img {
  max-width: 230px;
  text-align: center;
}

.sideTosideWrapperIMG500 {
  display: flex;
  justify-content: flex-start;
  align-items: top;
  gap: 20px;
}

.sideTosideWrapperIMG500 img {
  max-width: 500px;
  text-align: center;
}



.box {
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.templ {
  position: relative;
}

.templ:hover .templhover {
  opacity: 1
}

.templhover{
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
}

.templhover.templhover-basic{
  top: -24px !important;
}

.templ img{
  max-width: 90%;
}

.post {
  display: flex;
  align-items: center;
  gap:10px;
}

.noMargins li > p {
  margin: 0px;
}