.features {
    padding: 2rem 0;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .featureSvg {
    height: 100px;
    width: auto;
  }


  .singleCard {
    border: hidden;
    border-radius: 25px;
    padding: 10px;
    max-width: 450px;
    margin:auto;


    width: 80%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    font-weight: bold;
  }

  .singleCard:hover {
    /* border: 1px solid #ccd0d5; */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    /* box-shadow: 0px 1px 20px 0px #e4529a; */
    box-shadow: 0px 1px 20px 0px #19a6c4;
}



.titleLink {
  color: white;
  text-shadow: 0 0 10px rgba(42, 42, 42, 0.581);
  font-size: 1.7rem;
}


.rowA {
  content: "";
  display: table;
  clear: both;
  margin-top: 60px;
  margin-bottom: 100px;
  }

  .rowA p{
  font-size: 1rem;
  }

  .rowA a:hover{
    text-decoration: none;
    color: white;
  }
  
.columnA {
  float: left;
  width: 33.33%;
  padding: 15px;
}



  @media screen and (max-width: 1600px) {
    .columnA {
      width: 50%;
    }
  }

  @media screen and (max-width: 1200px) {
  .columnA {
    width: 100%;
  }
}
  @media screen and (max-width: 900px) {
  .columnA {
    width: 100%;
  }

  .features{
    margin-left: 10%;
    margin-right: 5%;
  }
}