.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .featureSvg {
    height: 100px;
    width: auto;
  }

  .mainContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-items: center
  }

  .textCenter {
    width: 150px;
  }

  .center {
    margin: auto;
    padding: 10px;
    width: 100%;

  }

  .cardDocs {
    margin: auto;
    width: 685px;

  }